@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    max-width: 1924px;
    margin: auto;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

#footer {
    background-color: #262728;
    color: #FFFFFA;
}

footer a {
    color: #FFFFFA;
}

#back-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #9EBDB3;
    color: #000000;
    border: none;
    cursor: pointer;
    z-index: 9;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    font-size: 26px;
}

.ck-editor__editable {
    min-height: 200px;
}

.ck-powered-by {
    display: none;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {

}
