@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://unpkg.com/@webpixels/css@1.1.5/dist/index.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
body {
    max-width: 1924px;
    margin: auto;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

#footer {
    background-color: #262728;
    color: #FFFFFA;
}

footer a {
    color: #FFFFFA;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    height: calc(100vh - 88px);
    min-width: 250px;
    max-width: 250px;
    background: #1a202c;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #fff;
}

#sidebar .active{
    color: #fff;
    background: #000000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.nav_link.active {
    color: #dc3545!important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - 88px);
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

#back-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #9EBDB3;
    color: #000000;
    border: none;
    cursor: pointer;
    z-index: 9;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    font-size: 26px;
}

.ck-editor__editable {
    min-height: 200px;
}

.ck-powered-by {
    display: none;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {

}
